@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 6px;
  border: 3px solid #ffffff;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #111;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-light: #6e6e6e;
  --red: #e22414;
  --brown: #d67321;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}
